################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mcdatacreator
/bin/int
/bin
/Debug
/mcdatacreator/mcdatacreator.vcxproj.user
/mcdatacreator/Debug
/mcdatacreator/imgui.ini
